:root {
  --background_primary: #ffffff;
  --text_primary: #000000;
}

body {
  background: var(--background_primary);
  font-feature-settings: 'lnum' 1;
  color: var(--text_primary);
}

html, body {
  min-height: 100vh;
  height: 100%;
}

svg {
  flex-shrink: 0;
}
